@media (max-width: 480px) {
  /* header */
  .top_menu .phone_top,
  .top_menu .email_top {
    display: none;
    margin: 0;
  }
  .top_menu p {
    margin: 0;
    margin-left: 9%;
  }
  .burger_menu {
    background-color: #f87f28;
    border-radius: 60%;
    width: 49px;
    height: 49px;
    margin-left: 8%;
    border: red 5px;
    border: 1px solid;
    border-color: black;
    margin-right: 22px;
  }
  .burger_line {
    background: #ffffff;
    margin-top: 12px;
    margin-bottom: -3px;
  }
  .text_and_button .fullstack_design {
    margin-bottom: 10%;
  }
  .text_and_image {
    margin-left: 10%;
  }
  p.hola {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 101px;
    letter-spacing: -3px;
    width: 320px;
    height: 66px;
  }
  .text_and_image img {
    display: none;
  }
  .hero {
    margin-bottom: 72px;
  }
  /* client sega logo tout */
  .clients p {
    text-align: start;
    padding-left: 10%;
    width: 40%;
    height: 20%;
    margin-bottom: 45px;
  }

  /* logo marque  */
  .clients .clients_img {
    flex-wrap: wrap;
  }

  .sega {
    width: 30%;
    height: 25%;
    margin-left: 0px;
    margin-right: 88px;
  }
  .ubisoft {
    width: 20%;
    height: 20%;
  }
  .microsoft {
    width: 50%;
    height: 50%;
    margin-left: 8px;
  }
  .ea {
    width: 40%;
    height: 40%;
  }
  .capcom {
    width: 40%;
    height: 40%;
    margin-right: 17px;
    margin-left: 30px;
  }
  .bethesda {
    width: 40%;
    height: 40%;
  }
  .services_body {
    flex-direction: column;
  }
  .portfolio {
    flex-wrap: wrap;
    margin-left: 10%;
  }
  .experience {
    flex-direction: column;
    margin-left: 10%;
  }
  .text_xp {
    display: none;
  }
  hr {
    display: none;
  }
  .skills {
    display: none;
  }
  .service {
    background-color: unset;
  }
  /* 
    
    
    temoignages  */

  .testimonial_body {
    flex-direction: column;
  }
  .line_subtitle {
    display: none;
  }

  .testimonial_body img {
    display: none;
  }
  .testimonial {
    padding-left: 10%;
    background-color: unset;
  }
  .testimonial_maintext {
    width: 300px;
    height: 250px;
    padding-bottom: 8%;
  }

  /* 
 
 hola olvier tout ca */
  p.developpement {
    width: 322px;
    height: 130px;
  }
  .hero_button .red_button {
    margin-right: 30%;
    margin-bottom: 10%;
  }
  .orange_button,
  .red_button {
    padding: 5px 25px;
  }
  .hero_button {
    padding-top: 25%;
  }

  /*  compétences */
  p.service_card_text {
    width: 278px;
    height: 48px;
  }
  .services .head_title .title {
    margin-left: 10%;
  }
  .services .head_title .line_title {
    margin-left: 10%;
  }
  .services .head_title {
    text-align: unset;
  }
  p.quote {
    text-align: unset;
    padding-left: 10%;
  }
  p.service_card_title {
    width: 163px;
    padding-bottom: 20%;
    padding-top: 5%;
  }
  /* 


les 6 images  de la mosaic*/
  .portfolioImg {
    display: unset;
  }
  p.quote {
    padding-left: 0%;
  }
  .portfolioImg img {
    width: 313px;
    height: auto;
    padding: unset;
    padding-bottom: 5%;
  }
  .portfolio .mosaic {
    margin-left: unset;
  }

  /* 
   
   
   
   actualités  et contact */
  .contact {
    background-color: unset;
  }
  .blog_news {
    flex-direction: column;
  }
  .blog_news .head_title {
    padding-bottom: 20%;
  }
  .contact {
    flex-direction: column;
  }
  .contact_formulaire {
    padding-left: 0%;
  }
  .card_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
  }
  .contact_card .card_change {
    width: 185px;
    height: 64px;
  }
  .form_text {
    width: 281px;
    height: 120px;
    padding-bottom: 9%;
  }
  .nom_mail {
    flex-direction: column;
  }
  .form_name {
    width: 308px;
    margin-bottom: 44.67px;
    background-color: unset;
  }
  .form_msg {
    width: 308px;
    height: 155px;
    margin-bottom: 10%;
    background-color: unset;
  }
  .form_email {
    width: 308px;
    margin-bottom: 36.78px;
    background-color: unset;
  }
  /*  */
  p.title {
    text-align: start;
  }
  .blog_news {
    margin-left: 5%;
  }
  .blog_news .head_title {
    padding-bottom: 10%;
    padding-left: 10%;
  }
  .news_body {
    margin-left: 10%;
  }
  .news_title {
    width: 300px;
    height: 78px;
  }
  .news_text {
    width: 208px;
    height: 120px;
  }
  .news_text_octobeurre {
    width: 298px;
    height: 72px;
  }
  .news_date {
    padding-top: 10%;
    padding-bottom: 4%;
    width: 148px;
  }
  .forest {
    margin-bottom: -25%;
  }
  .votre_mail,
  .votre_nom {
    padding: 0;
  }
  .contact_formulaire .form_title {
    display: none;
  }
  .message {
    margin: 0;
  }
  .abcd,
  .abcde {
    background-color: #232323;
  }
}
